html,
body,
#root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-title {
  background-color: black;
}

h1 {
  color: white;
}

.row.flex {
  flex: 1;
  display: flex;
}

.no-gutter {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

/* pills */
.pill-sec {
  background-color: #ffaf5f;
  color: #543414;
}
.pill-yard {
  background-color: #a6d8bb;
  color: #1f3729;
}
.pill-quad {
  background-color: #afabff;
  color: #201d4d;
}
.pill-text-small {
  font-size: 0.8rem;
}
.pill-padding-y {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.pills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  justify-content: center;
}

/* accordion */
button,
h3 {
  all: unset;
}

.AccordionRoot {
  width: 100%;
  background-color: #c0c9d1;
}

.AccordionItem {
  overflow: hidden;
}

.AccordionInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-family: inherit;
  padding: 10px 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1;
}

.sticky-line {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 0.4px solid #c0c9d1;
  border-top: 0.4px solid #c0c9d1;
  background: white;
  z-index: 10;
}

.AccordionInfo2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-family: inherit;
  padding: 10px 0px 10px 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1;
}

.AccordionHeader {
  display: flex;
}

.AccordionTrigger {
  font-family: inherit;
  background-color: transparent;
  padding: 10px 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1;
  color: black;
  background-color: white;
  pointer-events: none !important;
}

.AccordionContent {
  max-height: 320px;
  overflow: auto;
  font-size: 15px;
  color: black;
  background-color: white;
}

.AccordionContent .schedule-content {
  max-height: 160px;
}

.AccordionContent[data-state="open"] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
  padding: 0 20px;
}

.AccordionChevron {
  color: black;
  pointer-events: auto !important;
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionTrigger[data-state="open"] > .AccordionChevron {
  transform: rotate(180deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

/* sidebar */
.scrollable {
  max-height: calc(100vh - 160px);
  overflow-y: auto;
}

.routes-title {
  margin: 20px;
}

.route-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.route-name {
  margin-bottom: 6px;
  margin-right: 10px;
}

.circle {
  margin-right: 6px;
}

.route {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.route-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.spotlight {
  display: flex;
}

.dynamic:hover {
  color: #ffc900;
}

.stop-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.stop-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.stop-name {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
}

.live-time {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 0.8rem;
  white-space: nowrap;
}

.first-level {
  padding: 0 0;
}

/* schedule */
.stops-dropdown {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  gap: 10px;
  margin: 10px 0;
}

.times {
  padding: 3px;
  border: 1px solid #ccc;
  text-align: center;
}

.closest-time {
  background-color: #adf3be;
}

/* map */
.leaflet-left {
  left: 95% !important;
}

/* checkbox */
.CheckboxRoot {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.CheckboxIndicator {
  color: black;
}
